header {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 50px;
  box-shadow: 1px 0 18px 0 rgba(0, 0, 0, 0.1);
  background-color: #e5e5e5;

  @media (min-width: 768px) {
    height: 60px;
  }

  .container {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    @media (min-width: 1366px) {
      // justify-content: center;
    }

    figure {
      width: 100px;
      margin-left: 1rem;
      z-index: 1;

      img {
        width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }

    .hamburger {
      position: absolute;
      right: 1rem;
      z-index: 1;

      @media (min-width: 1024px) {
        display: none;
      }
    }

    .mobile-nav {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 9999;
      transform: translate3d(100%, 0, 0);
      transition: 1s;
      width: 100%;
      max-width: 300px;
      height: 100vh;
      background-color: white;

      &.active {
        transform: translate3d(0, 0, 0);
      }

      @media (min-width: 1024px) {
        display: none;
      }

      .close {
        margin: 30px 0 0 30px;
      }

      .login-container {
        padding: 200px 0 0 50px;
      }
    }
  }
}
