header
    div.container
        figure
            a(href="#")
                img(src="/assets/images/logo.png" alt="Logo example")
        .telegram-login-component
            button.login-wrapper(type="button" onclick="return TWidgetLogin.auth();")
        .hamburger.hamburger--squeeze.js-hamburger
            .hamburger-box
                .hamburger-inner